// FONTS
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&family=Manrope:wght@600;800&display=swap');

$fontMain: "Manrope", sans-serif;
$fwMedium: 600;
$fwBold: 800;

// COLORS
$cyan200: hsl(174, 77%, 80%);
$cyan400: hsl(174, 86%, 45%);
$red100: hsl(14, 92%, 95%);
$red400: hsl(15, 100%, 70%);
$blue100: hsl(226, 100%, 87%);

$white: hsl(0, 0%, 100%);
$gray100: hsl(230, 100%, 99%);
$gray200: hsl(224, 65%, 95%);
$gray300: hsl(223, 50%, 87%);
$gray400: hsl(225, 20%, 60%);
$gray700: hsl(227, 35%, 25%);

html, button {
	font-size: 15px;
	font-family: $fontMain;
	font-weight: $fwMedium;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 2rem 0;
	margin-bottom: 5rem;
	background-color: $gray100;
	background-image: url(./images/bg-pattern.svg);
	background-repeat: no-repeat;
	background-size: 100vw 50vh;
}

.headerText {
	background-image: url(./images/pattern-circles.svg);
	background-repeat: no-repeat;
	background-position: center;
	padding-block: 2.5rem;

	> h1 {
		color: $gray700;
	}
	> h2 {
		font-size: 1rem;
		font-weight: $fwMedium;
		color: $gray400;
	}
}

.pricingDiv {
	background-color: $white;
	padding: 2rem 0;
	margin-top: 2rem;
	border-radius: 0.5rem;
	box-shadow: 0 1rem 3rem -1rem hsla(0 0 0 / 10%);
}

.top,
.bottom {
	padding-inline: 2rem;
}

.top {
	padding-bottom: 1rem;
}

.display {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	color: $gray400;

	> h3 {
		text-transform: uppercase;
		font-size: 1rem;
		letter-spacing: 0.1em;
	}

	> .monthlyPrice {
		position: relative;
		display: flex;
		align-items: center;
		top: 5em;

		> span {
			padding-right: 0.25em;
			font-size: 2rem;
			font-weight: $fwBold;
			color: $gray700;
		}
	}
}

.rangeDiv {
	position: relative;
	margin-inline: 1rem;

	> input[type=range] {
		position: relative;
		top: -3vh;
		left: -3px;
		width: 100%;
		height: 0.5rem;
		margin-bottom: 3rem;
		// -webkit-appearance: none;
		// appearance: none;
		opacity: 0;
		cursor: pointer;
		
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			border: 1.5rem solid transparent;
			cursor: pointer;
		}
	}

	.track {
		position: absolute;
		top: -1em;
		width: 100%;
		height: 0.5rem;
		border-radius: 999rem;
		background-color: $gray200;
		pointer-events: none;
		overflow: hidden;
	}

	.trackFill {
		width: 0;
		height: 100%;
		background: $cyan200;
		transition: width 0.1s;
	}

	.thumb {
		position: absolute;
		top: -2em;
		left: 0;
		background-image: url(./images/icon-slider.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-color: $cyan400;
		box-shadow: 0 1rem 2rem -0.4rem $cyan400;
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 50%;
		pointer-events: none;
		transition: left 0.1s;
	}
}

.billingDiv {
	margin: 2rem 2.5rem;
	margin-top: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.9rem;
}

.checkboxDiv {
	position: relative;
	background-color: $gray300;
	border-radius: 999rem;
	transition: background-color 0.2s;

	> h4 {
		position: absolute;
		top: -50%;
		color: $gray400;
		font-weight: $fwMedium;
		white-space: nowrap;

		&:first-of-type {
			left: -200%;
		}
		&:last-of-type {
			left: 140%;
		}
	}

	span {
		position: absolute;
		top: -10%;
		left: 110%;
		padding: 0.25em 0.75em;
		border-radius: 999rem;
		font-size: 0.8rem;
		white-space: nowrap;
		background-color: $red100;
		color: $red400;
	}

	input {
		opacity: 0;
		width: 3.5rem;
		height: 1.5rem;
		cursor: pointer;
	}

	.checkboxKnob {
		position: absolute;
		top: 15%;
		left: 10%;
		width: 1.3rem;
		height: 1.3rem;
		border-radius: 50%;
		background-color: $white;
		pointer-events: none;
		transition: left 0.1s;
	}

	input:checked + .checkboxKnob {
		left: 57.5%;
	}
}

.bottom {
	border-top: 1px solid $gray200;
	padding-top: 1rem;

	> ul {
		list-style-type: none;
		padding: 0;

		> li {
			position: relative;
			margin: 0.75em 0;
			color: $gray400;

			&::before {
				content: "";
				position: absolute;
				top: 0.3em;
				transform: translateX(-2.5em);
				width: 0.8rem;
				height: 0.8rem;
				background-image: url(./images/icon-check.svg);
				background-size: cover;
			}
		}
	}
}

button {
	margin-top: 1.5rem;
	padding: 0.75em 3em;
	border: none;
	border-radius: 999rem;
	background-color: $gray700;
	color: $gray300;
	cursor: pointer;
	transition: 
		background-color 0.2s,
		transform 0.1s;

	&:hover {
		background-color: $cyan400;
		color: $gray700;
	}

	&:active {
		transform: scale(0.95);
		transition: transform 0s;
	}
}

@media screen and (min-aspect-ratio: 12/16) {
	
	body {
		margin-block: 0;
	}

	.headerText {
		margin-top: 0;
	}

	.pricingDiv {
		width: 40rem;
	}
	
	.top,
	.bottom {
		padding-inline: 3.5rem;
	}
	
	.display {
		flex-direction: row;
		
		> .monthlyPrice {
			top: initial;
		}
	}
	
	.rangeDiv {
		margin-top: 2rem;
		> input[type=range] {
			top: 0;
			margin-bottom: initial;
		}
		.track {
			top: 0;
		}
		.thumb {
			top: -1em;
		}
	}

	.bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-align: left;
	
		> ul {
			padding-left: 3rem;
		}
	}

	button {
		margin-top: 0;
	}
}